.topbar {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  position: relative;
  background-color: rgb(216, 183, 220);
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
  
}

.menu-icon {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 20px; /* top-left position */
  background-color: rgb(222, 217, 217);
  box-shadow: 0 4px 10px rgba(163, 30, 30, 0);
  border-radius: 6px;
  padding: 10px;
  z-index: 10;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.img {
    font-weight: bold;
    position: left;
    width: 70px;
    height: 60px;
}

.picture {
    height: 60px;
    width: 70px;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}